<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Shop Item - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <!-- Custom styles for this template -->
  <link href="/src/styles/css/shop-homepage.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
          </li>
       
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4"></h1>
        <div class="list-group">
          <button (click)="list()" class="btn btn-primary">Back to  List</button><br>
    
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div *ngIf="produit" class="col-lg-9"  >

        <div class="card mt-4">
          <img class="card-img-top img-fluid" src="http://placeimg.com/640/480/technics?ts=799" alt="">
          <div class="card-body">
            <h3 class="card-title"></h3>
            <h4>product name :{{ produit.productName }}</h4>
            <h4>price: {{ produit.price }}</h4>
            <h4>description :</h4>
            <p class="card-text">{{produit.description}}</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4" *ngFor="let group of produit.reviews">
          <div class="card-header">
          </div>
          <div class="card-body">
            <p>  Reviews value:  {{group.value}}</p>
          
                     </div>
        </div>
		
		

        <!-- /.card -->

      </div>
      <!-- /.col-lg-9 -->

    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
